<div class="board">
  <%= render 'shared/top-menu' %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th id="day" scope="col">Monday</th>
        <th id="day" scope="col">Tuesday</th>
        <th id="day" scope="col">Wednesday</th>
        <th id="day" scope="col">Thursday</th>
        <th id="day" scope="col">Friday</th>
        <th id="day" scope="col">Saturday</th>
        <th id="day" scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" id="tag"></th>
        <td>
          <div id="event">
            <h2>Event_title</h2>
            <p>Event_Description</p>
          </div>
        </td>
        <td></td>
        <td>
          <div id="event">
            <h2>Event_title</h2>
            <p>Event_Description</p>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th scope="row" id="tag"></th>
        <td>

        </td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td>
          <div id="event">
                    <h2>Event_title</h2>
                    <p>Event_Description</p>
                  </div></td>
        <td></td>
        <td>
          <div id="event">
                    <h2>Event_title</h2>
                    <p>Event_Description</p>
                  </div></td>
      </tr>

    </tbody>
  </table>
  <%= render 'shared/bottom-menu' %>
</div>
