<div class="top-menu">
  <div class="left-menu-container">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary">Week</button>
      <!--
      <button type="button" class="btn btn-secondary">Month</button>
      <button type="button" class="btn btn-secondary">Year</button> -->
    </div>
  </div>
  <div class="right-menu-container">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary"><</button>
      <button type="button" class="btn btn-secondary">></button>
    </div>
  </div>
</div>
