@import "bootstrap-sprockets";
@import "bootstrap";

// As hex codes */

$color-primary-0: #592A71;	// Main Primary color */
$color-primary-1: #A487B3;
$color-primary-2: #7B5191;
$color-primary-3: #3B0E52;
$color-primary-4: #220232;

$color-secondary-1-0: #AA3C39;	// Main Secondary color (1) */
$color-secondary-1-1: #FFBEBC;
$color-secondary-1-2: #D97774;
$color-secondary-1-3: #7B1310;
$color-secondary-1-4: #4C0200;

$color-secondary-2-0: #2D8632;	// Main Secondary color (2) */
$color-secondary-2-1: #99CF9C;
$color-secondary-2-2: #5CAB61;
$color-secondary-2-3: #0D6112;
$color-secondary-2-4: #003C04;

$color-complement-0: #A8AA39;	// Main Complement color */
$color-complement-1: #FEFEBC;
$color-complement-2: #D7D974;
$color-complement-3: #797B10;
$color-complement-4: #4B4C00;


$font_color_to_block: #f2e6ff;
$light_black: #111;


html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  .login-form{
    position:relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .form{
      h1{
        text-align: center;
      }
      position: absolute;
      width: 350px;
      height: 450px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;

  .container::before{
    display: none;
  }
  .container::after{
    display: none;
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-areas: "header header"
                       "nav content"
                       "footer footer";
  grid-template-rows: 70px auto 70px;
  grid-template-columns: 1fr 6fr;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  .alert{
    grid-area: content;
    position: absolute;
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
    width: 80%;
    height: 52px;
  }

  .greeting{
    margin: auto;
    left: 0;
    right: 0;
    top: 25px;
    text-align: center;
    color: $font_color_to_block;
    position: absolute;
    font-size: 14px;
    h1{
      margin-top: 0;
      font-size: 24px;
    }
  }

  .header {
    grid-area: header;
    display: block;
    height: 100%;
    width: 100%;
    color: $font_color_to_block;
    background-color: $light_black;
    border-bottom: 2px solid $font_color_to_block;
      h1{
        margin-left: 12px;
      }
  }

  .nav {
    .nav-group{
      a{
        &:hover{
          color: grey;
        }
      }
      margin: 0;
      height: 75%;
      width: 100%;
    }
    .boards{
      margin: 5px;
      padding: 0;
      color: $font_color_to_block;
      display: inline-block;
      li{

        list-style: none;
        width: 100%;
        height: auto;
        border-bottom: 1px solid $font_color_to_block;
        display: inline-block;
        .left-leaning{
          height: auto;
          width: 50%;
          margin: 0;
          padding: 0;
          float: left;
          display: inline-block;

        }
        .right-leaning{
          height: auto;
          width: 50%;
          margin: 0;
          padding: 0;
          float: right;
          text-align: right;
          display: inline-block;
        }
      }

    }
    grid-area: nav;
    display: inline;
    height: 100%;
    width: 100%;
    color: $light_black;
    border-right: 2px solid $font_color_to_block;
    background: $color-primary-4;

      li{
        a{
          &:visited{
            text-decoration: none;
            color: $font_color_to_block;
          }
          text-decoration: none;
          color: $font_color_to_block;
        }
      }
      h1{
        margin: 0;
        padding-top: 5px;
        text-align: center;
        color: $font_color_to_block;
      }
      .form-holder{
        margin: 0;
        position: relative;
        width: 100%;
        height: 25%;
        form{
          label{
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            margin-top: -5px;
            position: absolute;
            text-align: center;
            color: $font_color_to_block;
          }
          margin:auto;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          .modal-footer, {
            padding: 2px;
            border-top: 0px;
          }
      }
    }
  }

  .content {
    grid-area: content;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .form-container{
      width: 612px;
      height: 488px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      .form{
        width: 612px;

        h3{
          text-align: center;
        }
        color: $font_color_to_block;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid $font_color_to_block;
        padding: 25px;
        .center-container{
          display: inline-block;
          position: relative;
          .center{
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
          }
        }
        .left-leaning{
          float: left;
          text-align: left;
        }
        .right-leaning{
          float: right;
          text-align: right;
        }
      }
    }
    .body{
      position: relative;
      height: 100%;
      width: 100%;
      .board{
        display: grid;
        grid-template-areas:"top"
                            "mid"
                            "bot";
        grid-template-rows:  36px auto 36px;
        .top-menu{
          .left-menu-container{
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
          }
          .right-menu-container{
            position: absolute;
            margin: auto;
            right: 0;
            top: 0;
          }
          height: 34px;
          display: flex;
          grid-area: top;
        }
        .bottom-menu{
          position: relative;
          height: 36px;
          display: flex;
          grid-area: bot;
          .menu-container{
            position: absolute;
            margin: auto;
            right: 0;
            bottom: 0;
          }
        }
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;

        table{
          grid-area: mid;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
          tr{
            height: 16px;
            td{
              margin: 0;
              padding: 0;
              height: 100%;
              width: 120px;
              .event-board{
                height: 100%;
              }
              .event{
                margin: 0;
                padding: 0;
                height: 125px;
                width: 120px;
                display: block;
                width: inherit;
                overflow: hidden;
                float: left;
                .event-title, .event-title span{
                  display: inline-block;
                  font-size: 14px;
                  text-align: center;
                }
                .event-body, .event-body span{
                  display: inline-block;
                  font-size: 12px;
                  text-align: left;
                  overflow: hidden;

                }
                .event-footer, .event-footer span{
                  display: inline-block;
                  font-size: 12;
                  text-align: center;
                }
              }
            }
            th{
              height: 16px;
              font-size: 16px;
              margin-top: 0px;
              text-align: center;
            }
            background: whitesmoke;
          }
        }
      }
    }
  }
  .info-container-container{
    h1, h3{
      text-align: center;
    }
    color: $font_color_to_block;
    height: 100%;
    width: 100%;
    position: relative;
    .info-container{
      position: absolute;
      max-width: 750px;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
    }
    .delete-form-container{
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      display: inline;
    }
  }


  .footer {
    grid-area: footer;
    display: block;
    height: 100%;
    width: 100%;
    color: $font_color_to_block;
    border-top: 2px solid $font_color_to_block;
    background-color: $light_black;
  }

}
