<div class="nav-group">
  <h1>Your boards</h1>
  <hr style="width: 75%;">
  <li>
    <ul><a href="#">Overview</a></ul>
    <hr style="width: 75%;">
    <ul><a href=#>Board 1</a></ul>
    <ul><a href=#>Board 2</a></ul>
    <ul><a href=#>Board 3</a></ul>
  </li>
  <br>
</div>

  <div class="button-container">
    <a href=# class="btn btn-primary btn-lg btn-block" id="button">Add board</a>
  </div>
